name: dev-analytics

services:
  # ---------------------------------------------------------------------------
  # Zookeeper (для классической Kafka)
  # ---------------------------------------------------------------------------
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - app-network

  # ---------------------------------------------------------------------------
  # Kafka (Classic mode с Zookeeper)
  # ---------------------------------------------------------------------------
  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092

      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

    depends_on:
      - zookeeper

    healthcheck:
      test: [ "CMD", "bash", "-c", "echo > /dev/tcp/kafka/9092" ]
      interval: 10s
      timeout: 5s
      retries: 10

    networks:
      - app-network

  # ---------------------------------------------------------------------------
  # Kafka UI (от Provectus)
  # ---------------------------------------------------------------------------
  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8080:8080"
    environment:
      DYNAMIC_CONFIG_ENABLED: "true"
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAP_SERVERS: kafka:9092
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - app-network

  # ---------------------------------------------------------------------------
  # Analytics module
  # ---------------------------------------------------------------------------
  analytic:
    build:
      context: ./modules/analytic
      dockerfile: Dockerfile
    container_name: analytic
    ports:
      - "8001:8080"
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - app-network

  # ---------------------------------------------------------------------------
  # Simulator module
  # ---------------------------------------------------------------------------
  simulator:
    build:
      context: ./modules/simulator
      dockerfile: Dockerfile
    container_name: simulator
    ports:
      - "8002:8080"
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - app-network

  # ---------------------------------------------------------------------------
  # ClickHouse
  # ---------------------------------------------------------------------------
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    environment:
      - CLICKHOUSE_USER=clickhouse
      - CLICKHOUSE_PASSWORD=root
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    restart: unless-stopped
    networks:
      - app-network

  # ---------------------------------------------------------------------------
  # ClickHouse UI
  # ---------------------------------------------------------------------------
  ch-ui:
    image: ghcr.io/caioricciuti/ch-ui:latest
    container_name: ch-ui
    ports:
      - "5521:5521"
    environment:
      VITE_CLICKHOUSE_URL: "http://localhost:8123"
      VITE_CLICKHOUSE_USER: "clickhouse"
      VITE_CLICKHOUSE_PASS: "root"
    networks:
      - app-network

# ---------------------------------------------------------------------------
# Network
# ---------------------------------------------------------------------------
networks:
  app-network:
    driver: bridge
